@use 'colors' as *;

header {
    color: $Nav;
}

nav ul {
    display: flex;
    gap: 20px;
    color: $grey-light;
    list-style: none;  // Fjerner bullets
    padding: 0;        // Fjerner standard padding
    margin: 0;         // Fjerner standard margin
}

nav ul li {
    display: flex;     // Sikrer at li-elementene også er flex
}

nav ul li a {
    text-decoration: none;  // Fjerner understrekning på lenker
    color: $Nav;
}
