@use 'colors' as *;
p{
    display: block;
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1.4rem;
    font-weight: bold;
}

h3{
    font-size: 1.2rem;
}

.flex{
  display: flex;
  gap: 20px;
}
nav{
    background-color: $MainBlue;
    padding: 10px 20px;
}
nav ul {
    display: flex;
    gap: 20px;
    color: $grey-light;
    list-style: none;  // Fjerner bullets
    padding: 0;        
    margin: 0;         
}

nav ul li {
    display: flex;     // flexér li elementer
}

nav ul li a {
    text-decoration: none;  
    color: $Nav;
}
Div{    
    display: flex;
    border: 1px solid $Black;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
}
image{
   
}